name: redirect_example
description: Demonstrates how to use the redirect plugin.
version: 0.1.0+1
publish_to: none

resolution: workspace

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  redirect: ^0.1.0

dev_dependencies:
  flutter_driver:
    sdk: flutter
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  redirect_platform_interface: ^0.1.0
  redirect_web_core: ^0.1.0
  very_good_analysis: ^10.0.0
  web: ^1.1.0

flutter:
  uses-material-design: true
