name: Prepare release

on:
  workflow_dispatch:
    inputs:
      prerelease:
        description: "Version as prerelease"
        required: false
        default: false
        type: boolean
      graduate:
        description: "Graduate prereleases to stable"
        required: false
        default: false
        type: boolean

jobs:
  prepare-release:
    name: Prepare release
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: subosito/flutter-action@v2
        with:
          channel: stable

      - uses: bluefireteam/melos-action@v3
        with:
          run-versioning: ${{ inputs.prerelease == false && inputs.graduate == false }}
          run-versioning-prerelease: ${{ inputs.prerelease == true }}
          run-versioning-graduate: ${{ inputs.graduate == true }}
          publish-dry-run: true
          create-pr: true
          git-email: ahmednfwela@bdaya-dev.com
          git-name: Ahmed Fwela
